/* reset css */
* {
    /* Emmet :viet tat */
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* 1/tu ngoai vao trong
2/ tu tren xuong duoi
3/ tong quan den chi tiet
 */
/* 
1/vi tri
2/ kich thuoc (width, height)
3/ mau sac
4/ kieu dang(kieu chu, hinh tron, vuong,..)

 */
#main{


}
.text-white{
    color: #fff !important;
}
#header{
height: 46px;
background-color: #000;

/* thuoc tinh fixed an theo man hinh trinh duyet */
position: fixed;
top: 0;
left: 0;
right: 0;

z-index: 1;


}
#nav .subnav{
    list-style-type: none;
    /* bo dau cham truoc li */
}
#nav{
display: inline-block;
}
/* li cap 1 */
#nav > li{
   
    display: inline-block;
    /* display inline-block chi dai toi het chu more */
    position: relative;
}
#nav li{
    
  position: relative;
  /* khi bo position di cung bth khong chi gi het */
  
 
    /* inline-flex */
}
#nav >li> a{
    color: #fff;
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display: inline-block;
    /* khi bo display di bth kh bi chi het */
}

#nav li a{
    display: block;
   
    text-decoration: none;
    line-height: 46px;
    /* line-height chieu cao cua chu */
    padding: 0 24px;

}

#nav> li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
  
}

#nav .subnav{
    display: none ;
    min-width: 160px;
    position: absolute;
    /* top 100% cua absolute de can chinh voi the cha cua no */
    top: 100%;
    left: 0;
    background-color: #fff;
    /* bong do */
    box-shadow:  0 0 10px rgba(22, 22, 105, 0.3);
}
#nav .subnav a{
    line-height: 38px;
    padding: 0 12px;
    color: #000;
   
}
#nav .nav-arrow-down{
    /* icon */
    font-size: 12px;
}
#header .search-btn{
    /* float: right; */
/* co the dung position thay cho float */
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 21px;
    
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-btn .search-icon{
color: #fff;
font-size: 20px;
line-height: 46px;

}

#slider{
    position: relative;
/* min-height: 500px;
background-color: #333; */
margin-top: 46px;
/* margin-top de cho header khong chiem slider */

padding-top: 50%;
/* khi padding top dung gia tri phan tram thi se bang 50% cua chinh nó */

background-image: url('/assets/img/slider/slider1.jpg');
background-size: 100%;

/* shorthand */
/* background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat; */
}
#slider .text-content{
    /* them position:absolute vo phan text-content
    de phan nay k bi chiem phan content cua slider */
    position: absolute;
    bottom: 48px;

    /* cach 1: can giua voi position */
    /* left: 50%;
    transform: translateX(-50%); */

    /* cach2: width: 100% */
    /* width: 100; */

    /* cach 3: cho left:0 right:0 */
    left: 0;
    right: 0;
    text-align: center;
   
}
#slider .text-heading{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: normal;
}
#slider .text-decription{
    font-size: 15px;
}
#content{


}
#content .content-section{
    width: 800px; 
    padding: 64px 0;
    
    /* margin left right de can giua ca cuc div content-section*/
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;

    /* khoang cach giua cac chu dung leter-spacing */
letter-spacing: 4px;
text-transform: uppercase;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
    
}
#content .about-text{
   font-size: 15px;
   margin-top: 25px;
   text-align: justify;
   /* text-align:justify de can deu hai ben cua van ban */
   line-height: 1.6;
}
#content .members-list{
    margin-top: 48px;
    overflow: hidden;
    /* overflow de khong bi mat the con khi dung float */
}
#content .members-list .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;
  
    /* float:left de keo anh thanh vien len cung mot hang */

}
#content .members-list .member-name{
    font-size: 15px;
    
}
#content .members-list .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* tour section */
#content .tour-section{
background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list > li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    /* border-bottom de lam dong ke phia duoi */
    color: #757575;
    /* opacity: 0.5; */
  
}
.tickets-list .sold-out{
   background-color: #f44336;
   color: #fff;
   padding: 3px 4px;
   margin-left: 16px;

}
.tickets-list .quantity{
float: right;
width: 24px;
height: 24px;
background-color: #000;
color: #fff;
border-radius: 50%;
text-align: center;
line-height: 24px;
margin-top: -3px; 
/* margin-top = so am khi chi co float */
}
/* places */
.places-list{
    overflow: hidden;
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 32px;
}
.place-item{
    float: left;
    width: calc(100%/3);
    padding: 0 8px 16px;
    
   
}
.place-img{
    width: 100%;
    display: block;
    /* display : block de bo khoang cach o giua img va div*/

}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    font-size: 15px;
background-color: #fff;
}
.place-heading{
font-size: 15px;

}
.place-time{
margin-top: 15px;
opacity: 0.6;
}
.place-desc{
margin-top: 15px;
line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    /* display:inline-block de khi padding khong che the p */
    margin-top: 15px;

}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
#footer{


}
/* ----------phan show thong tin mua ve------------- */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 4 huong =0 tu dong width height phu kin */

    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    /* flexbox */
}
.modal-container{
background: #fff;
width: 900px;
max-width: calc(100%-32px);
min-height: 200px;
position: relative;
}

.modal-container .modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.6;
}
.modal-container .modal-close:hover{
    opacity: 1;
    color: #000;
}
.modal-header{
    background: #757575;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    
}
.modal-header .modal-heading-icon{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-body .modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-body .modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
.modal-body #buy-tickets{
    background-color: #757575;
    border: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
}
.modal-body #buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
   
}
.modal-footer a{
    color: #2196F3;
}