/* reset css */
* {
    /* Emmet :viet tat */
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* 1/tu ngoai vao trong
2/ tu tren xuong duoi
3/ tong quan den chi tiet
 */
/* 
1/vi tri
2/ kich thuoc (width, height)
3/ mau sac
4/ kieu dang(kieu chu, hinh tron, vuong,..)

 */
#main{


}
#header{
height: 46px;
background-color: #000;

}
#nav .subnav{
    list-style-type: none;
    /* bo dau cham truoc li */
}
#nav{
display: inline-block;
}
/* li cap 1 */
#nav > li{
   
    display: inline-block;
    /* display inline-block chi dai toi het chu more */
    position: relative;
}
#nav li{
    
  position: relative;
  /* khi bo position di cung bth khong chi gi het */
  
 
    /* inline-flex */
}
#nav >li> a{
    color: #fff;
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display: inline-block;
    /* khi bo display di bth kh bi chi het */
}

#nav li a{
    display: block;
   
    text-decoration: none;
    line-height: 46px;
    /* line-height chieu cao cua chu */
    padding: 0 24px;

}

#nav> li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
  
}

#nav .subnav{
    display: none ;
    min-width: 160px;
    position: absolute;
    /* top 100% cua absolute de can chinh voi the cha cua no */
    top: 100%;
    left: 0;
    background-color: #fff;
    /* bong do */
    box-shadow:  0 0 10px rgba(22, 22, 105, 0.3);
}
#nav .subnav a{
    line-height: 38px;
    padding: 0 12px;
    color: #000;
   
}
#nav .nav-arrow-down{
    /* icon */
    font-size: 12px;
}
#header .search-btn{
    /* float: right; */
/* co the dung position thay cho float */
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 21px;
    
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-btn .search-icon{
color: #fff;
font-size: 20px;
line-height: 46px;

}

#slider{
/* min-height: 500px;
background-color: #333; */

}

#content{


}

#footer{


}
